html, body {
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
}
body {
  background-color: #000;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
#loadscreen, #gameoverscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #000;
}
#gameoverscreeninner, #loadscreenloading, #loadscreenstart, #login {
  margin: 0 auto;
  margin-top: 20px;
  padding: 32px;
  border: 32px solid rgba(49, 142, 190, 0.2);
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.6);
  width: 300px;
  font-family: "Courier New", Courier, sans-serif;
  font-weight: bold;
  font-size: 12pt;
  color: #99ff00;
  text-align: center;
  box-shadow: 0px 0px 54px rgba(49, 142, 190, 0.5);
}
#gameoverscreen {
  display: none;
}
#loadbar {
  display: inline-block;
  background-color: #0f0;
  width: 0;
}
#startlink {
  color: #fff;
}
#loadscreenstart {
  display: none;
}
#gameoverscore {
  color: #fff;
  font-weight: bolder;
}
#playagainlink {
  color: #fff;
}
#worldbox {
  width: 740px;
  height: 640px;
  margin: 0 auto;
  padding: 0;
  border: none;
  background-color: black;
}
#world {
  box-shadow: 0px 0px 54px rgba(49, 142, 190, 0.5);
}
#help {
  width: 740px;
  margin: 0 auto;
  text-align: center;
  font-family: "Courier New", Courier, sans-serif;
  font-weight: bold;
  color: #4c8000;
}
#webglnote {
  color: #264000;
}
#stats {
  width: 740px;
  margin: 0 auto;
  margin-top: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 54px rgba(49, 142, 190, 0.5);
  border-radius: 16px 16px 0 0;
  font-family: "Courier New", Courier, sans-serif;
  font-weight: bolder;
  font-size: 12pt;
  text-align: center;
  color: #99ff00;
}
.interfaceelement {
  display: none;
}
#healthinfo {
  position: absolute;
  margin-top: 611px;
  margin-left: 0px;
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 4px;
  font-family: "Courier New", Courier, sans-serif;
  font-weight: bolder;
  font-size: 12pt;
  color: #99ff00;
  opacity: 0.6;
  background-color: #000;
  width: 728px;
}
#healthinfo-bar {
  display: inline-block;
  background-color: #0f0;
}
#healthinfo-maxbar {
  display: inline-block;
  border: 1px solid #0f0;
}
